<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <title>The project App</title>
</head>
<body>
<header>
    <h1>The project App</h1>
    
</header>

<main>
    <img src="/usr/src/app/files/image.jpg" width="200" height="200">
    <li>
        <input type="text" name="todoCreator" maxlength="140" required>
        <button type="submit">Create todo</button>
    </li>
    
    <ul>
        <% for(var i = 0 ; i < todos.length ; i++) { %>
            <li><%= todos[i] %></li>
        <%}%>
    </ul>

</main>
<footer>
    <p>DevOps with Kubernetes 2025</p>
</footer>
</body>
</html>
