apiVersion: apps/v1
kind: Deployment
metadata:
  name: pingpong-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pingpong
  template:
    metadata:
      labels:
        app: pingpong
    spec:
      volumes:
        - name: shared-log
          persistentVolumeClaim:
            claimName: log-vol-claim
      containers:
        - name: pingpong
          image: pingpong
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5500
          volumeMounts:
          - name: shared-log
            mountPath: /usr/src/app/files
